.modal-connection,
.modal-call {
  display: none;
}
.modal-connection__active,
.modal-call__active {
  display: flex !important;
  box-sizing: border-box;
  position: fixed;
  content: '';
  z-index: 1;
  background-color: white;
  top: 0;
  flex-direction: column;
  position: relative;

  h1:before {
    display: block;
    position: absolute;
    content: "";
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    width: 4px;
    height: 40px;
    background-color: #41F6D7;
    left: 0;
  }
  button {
    width: 40px;
    height: 40px;
    margin-bottom: 32px;
    position: relative;
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 24px;
    min-height: 150px;
    overflow: auto;
    padding-bottom: 50px;

    input {
      box-sizing: border-box;
      margin-bottom: 16px;
      height: 48px;
      padding: 12px 15px;
      border: 1px solid #EAEAEA;
      border-radius: 5px;
    }

    input::placeholder,
    textarea::placeholder {
      color: #B5B6BC;
    }
    textarea {
      padding: 12px 15px;
      border: 1px solid #EAEAEA;
      border-radius: 5px;
      margin-bottom: 16px;
    }
    p {
      color: #7E7E82;
      font-size: 14px;
    }
    a {
      text-decoration: none;
      color: #FF3E79;
    }
    button {
      align-self: flex-end;
      width: 136px;
      height: 32px;
      position: relative;
      margin-right: -60px;
      padding-left: -20px;
      background-color: #ff3e79;
      border: none;
      border-radius: 50px;
      color: white;
      text-transform: uppercase;
      font-weight: bold;
      box-sizing: border-box;
      text-align: start;
      padding-left: 20px;

    }
    button::before {
      position: absolute;
      content: "";
      height: 8px;
      width: 2px;
      background-color: white;
      border-radius: 5px;
      transform: rotate(-45deg);
      margin-top: 0.5px;
      right: 20px;
    }
    button::after {
      position: absolute;
      content: "";
      height: 8px;
      width: 2px;
      background-color: white;
      border-radius: 5px;
      transform: rotate(45deg);
      margin-top: 5.5px;
      right: 20px;
    }
    input:focus, textarea:focus {
      outline: none;
      box-shadow: 0px 2px 5px 0px #9fa0a6;
    }
  }
}


@media (max-width: 360px) {
  .modal-connection,
  .modal-call {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 24px;
    height: 100%;

    button {
      width: 40px;
      height: 40px;
    }
  }
}
@media (min-width: 361px) {
  .modal-connection,
  .modal-call {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px;
  }
}
@media (max-width: 768px) {
  .modal-connection,
  .modal-call {
    min-width: 100vw;
    min-height: 100vh;

    form button {
      margin-right: 0;
      margin-top: 20px;
      position: static;
    }
  }
}
@media (min-width: 769px) {
  body {
    position: relative;
  }
  .modal-connection,
  .modal-call {
    max-width: 440px;
    min-height: 100%;
    position: absolute;
    content: '';
    right: 0;
    border-left: 1px solid #D9FFF5;
    box-shadow: 5px 10px 15px 5px rgba(194, 194, 195, 0.850980392);

    button {
      position: absolute;
      content: '';
      left: -60px;
      top: 20px;
    }
  }
}
