.basic {
  border-top: 1px solid #d9fff5;
  background-color: #f8f8f8;

  .basic_header-block {
    display: flex;
    
    .basic_header-block__header {
      font-size: 28px;
      color: #1b1c21;
    }

    .basic_header-block__header::before {
      display: block;
      position: absolute;
      content: '';
      border-top-right-radius: 100px;
      border-bottom-right-radius: 100px;
      width: 4px;
      height: 40px;
      background-color: #41F6D7;
      left: 0;
      margin-top: -4px;
    }
  }
  .basic_navigation_container {
    display: flex;

    a {
      white-space: nowrap;
      color: #7e7e82;
      text-decoration: none;
    }
  }

  .basic_text__container {
    font-size: 14px;
    color: #1b1c21;

    .basic_text__link-further {
      display: flex;
      align-items: center;
      border: none;
      background-color: transparent;
      white-space: nowrap;

      .basic__text__link-read {
        color: #1b1c21;
        text-decoration: none;
        font-weight: 500;
      }
    }
  }
}


@media (max-width: 768px) {
  .basic_header-block {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .basic_navigation {
    overflow-y: hidden;
    padding-left: 16px;

    .basic_navigation_container {
      flex-wrap: nowrap;
      -ms-overflow-style: none;
      white-space: nowrap;
      scrollbar-width: none;
      overflow: scroll;
  
      a {
        padding: 8px 13px;
      }
  
      .basic_navigation_container__points-status:first-child {
        display: none;
      }
  
      .basic_navigation_container__points-status--active {
        border: 2px solid #b8ffec;
        border-radius: 5px;
        background-color: white;
  
      }
      .basic_header-block__container {
        display: none;
      }
    } 
  }
  
  .basic_contain {
    max-height: 90px;
    overflow: hidden;
  }
  }
  .basic_text {
    margin-top: 24px;

    p {
      padding-left: 16px;
      padding-right: 16px;
    }

    p:nth-child(n+2) {
      margin-top: 20px;
    }

    .basic_text__link-further {
      padding-left: 16px;
      margin-top: 16px;
      margin-bottom: 16px;
    }

    .basic_text__image {
      object-fit: contain;
      height: 100%;
      width: 100%;
      margin: 0;
      margin-bottom: 24px;
    }
}

@media (min-width: 769px) and (max-width: 1365px) {
  .basic_header-block {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px;
    padding-bottom: 24px;

    .basic_header-block__container {
      display: none;
    }
  }

  .basic_navigation {
    padding-left: 24px;
    padding-right: 24px;

    .basic_navigation_container {
      flex-wrap: nowrap;
      -ms-overflow-style: none;
      white-space: nowrap;
      scrollbar-width: none;
      overflow: scroll;

      a {
        padding: 10px 14px;
      }
    }

    .basic_navigation_container__points-status:first-child {
      display: none;
    }

    .basic_navigation_container__points-status--active {
      border: 2px solid #b8ffec;
      border-radius: 5px;
      background-color: white;
    }
  }

  .basic_text {
    margin-top: 32px;
    padding-bottom: 32px;
    display: flex;
    justify-content: space-between;
    width: 93.75%;
    margin-left: auto;
    margin-right: auto;

    p:nth-child(n+2) {
      margin-top: 20px;
    }

    .basic_text__image {
      object-fit: contain;
      height: 100%;
      border-radius: 5px;
      min-width: 50%;
      margin-left: 2.5%;
    }
  
    .basic_contain {
      max-height: 160px;
      overflow: hidden;
    }

    .basic_text__container {
      min-width: 43.3%;

      p {
        color: #1B1C21;
        font-size: 14px;
      }
    }
    
    .basic_text__link-further {
      margin-top: 10px;
    }
  }
}

@media (min-width: 1366px) {
  .basic {
    width: calc(100% - 320px);
    margin-left: 320px;
    position: relative;
    border-top: none;
  }

  .basic_header-block {
    display: flex;
    border-top: none;
    justify-content: space-between;
    padding-top: 42px;
    padding-left: 34px;
    padding-right: 34px;

    .basic_header-block__container {
      display: flex;

      .container__elements {
        display: flex;
        align-items: center;
      }
      .container__elements:first-child {
        margin-right: 32px;
      }
      .container__text {
        margin-right: 9px;
      }
    }
  }

  .basic_navigation {
    padding-left: 34px;
    padding-top: 9px;

    .basic_navigation_container__points-status:nth-child(2) {
      display: none;
    }
    .basic_navigation_container__points-status--active {
      border: 2px solid #b8ffec;
      border-radius: 5px;
      background-color: white;
      
    }
    .basic_navigation_container {
      flex-wrap: wrap;
      a {
        padding: 10px 20px;
      }
    } 
  }

  .basic_text {
    margin-top: 8px;
    padding-bottom: 50px;
    display: flex;
    padding-left: 34px;
    padding-right: 34px;

    .basic_text__container {
      min-width: 46.5%;
    }

    .basic_contain {
      max-height: 160px;
      overflow: hidden;

      p:first-child {
        margin-top: 9px;
      }
      p:not(first-child) {
        margin-top: 20px;
      }
    }

    .basic_text__image {
      object-fit: contain;
      min-width: 50%;
      height: 100%;
      margin-left: 3%;
      border-radius: 5px;
    }
  
    .basic_text__link-further {
      margin-top: 14px;
    }
  }
}