@import "/src/scss/menu.scss";
@import "/src/scss/header.scss";
@import "/src/scss/main.scss";
@import "/src/scss/services.scss";
@import "/src/scss/connection.scss";

$background-color: #fff;
$text-color: #1b1c21;
$font-size: 16px;
$background-footer: #f8f8f8;

@font-face {
  font-family: 'TTLakesMedium';
  src: url('../fonts/TTLakes-Medium.eot');
  src: url('../fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTLakes-Medium.woff') format('woff'),
    url('../fonts/TTLakes-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TTLakesBold';
  src: url('../fonts/TTLakes-Bold.eot');
  src: url('../fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTLakes-Bold.woff') format('woff'),
    url('../fonts/TTLakes-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TTLakesRegular';
  src: url('../fonts/TTLakes-Regular.eot');
  src: url('../fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTLakes-Regular.woff') format('woff'),
    url('../fonts/TTLakes-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1,
p,
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
body {
  margin: 0;
  font-family: "TTLakesRegular", sans-serif;
  background-color: $background-color;
  font-size: $font-size;
  color: $text-color;
  box-sizing: border-box;
}

.element {
  border: none;
  border-radius: 50%;
  min-width: 40px;
  min-height: 40px;
  background-color: #ff3e79;
}
.element:hover,
.order:hover {
  opacity: 0.5;
  transition-duration: 1s;
}

.footer {
  border-top: 1px solid #D9FFF5;
  background-color: $background-footer;

  .footer_wrap {
    display: flex;
    color: #7E7E82;
    font-size: 14px;
  }

  a {
    text-decoration: none;
    color: #7E7E82;
  }
}

@media (max-width: 768px) {
  .basic_header-block__container {
    display: none;
  }

  .footer {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 19px;
    padding-top: 16px;

    .footer_wrap {
      text-align: center;
      flex-direction: column;
      gap: 16px;
    }
  }
}

@media (min-width: 769px) and (max-width: 1365px) {
  .basic_header-block__container {
    display: none;
  }

  .footer {
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 25px;
    padding-top: 32px;

    .footer_wrap {
      flex-direction: row;
    }

    .footer_wrap__block-copyright,
    a {
      width: 33.3%;
    }

    a:last-child {
      width: 30%;
      text-align: end;
    }
  }

}

@media (min-width: 1366px) {
  .nav-main {
    display: none;
  }

  .footer {
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 25px;
    padding-top: 32px;
    width: calc(100% - 390px);
    margin-left: auto;

    .footer_wrap {
      flex-direction: row;
    }

    .footer_wrap__block-copyright,
    a {
      width: 33.3%;
    }

    a:last-child {
      width: 30%;
      text-align: end;
    }
  }
}
